@media (max-width : 500px) {
    #nright{
        display: none;
        /* background-color: rgb(216, 14, 14); */
    }
    #nav i{
        width: 40px;
        height: 50px;
        /* background-color: rgb(206, 9, 9); */
        position:fixed;
        font-size: 10vw;
        margin-left: 78%;
    }
    #nav #close{
        font-size: 11vw;
        display:none;
    }
    #main .flex{
        position: absolute;
        width: 500px;
        top: 100%;
        height: 600px;
        background-color:#fff;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        transition: ease .5s;
        position: fixed;
        /* display: none; */
        
    }
    .flex>a{
        color: black;
        text-decoration: none;
        font-size: 5vw;
        line-height: 2;
        /* display: none; */
    }
    .flex #nav-btn{
        width: 150px;
        /* background-color: rgb(71, 0, 78); */
    }
    .flex>a:hover{
        text-decoration: underline orangered;
    }
    #page1 #img1{
    
            height: 65%;
            width: 90vh;
            top: 58%;
            left: 11%;
            z-index: 9;
            background-size: cover;
    }
    #page1 #img2{
        display: none;
    }
    #page1 #img3{
        display: none;
    }
    #page1 h2{
        position: absolute;
        width: 100%;
        top: 15%;
        left: 50%;
        font-size: 8vw;
    }
    #page1 > #underline {
     height: 1%;
     width: 30%;
     position: absolute;
     top: 19%;
     left: 50%;
}
#page1 > #but {
    height: 7%;
    width: 80%;
    position: absolute;
    top: 27%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: gilroy;
    font-size: 3vh;
    gap: 18px;
}
#page2{
    min-height: 70vh;
}
#page2 > h4 {
    color: #fff;
    font-family: gilroy;
    position: absolute;
    top: 5vh;
    margin-bottom: 10%;
}
#page2 > h1 {
    color: #fff;
    width: 95%;
    font-size: 4vh;
    line-height: 5vh;
    letter-spacing: 0px;
    position: absolute;
    top: 10%;
    margin-top: 10%;
}
#page2 > #circle {
    height: 8%;
    width: 48%;
    background-image: url(https://thisisdigital.co.uk/dist/images/circle-green.svg);
    position: absolute;
    top: 62%;
    left: 66%;
    transform: translate(-50%, -50%);
}

#page2 >#but {
    position: absolute;
    top: 80%;
    height: 10%;
    width: 53%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-size: 30px;
    font-family: gilroy;
    color: #fff;
}
#page3 > .pic1 {
    height: 30%;
    width: 40%;
    position: absolute;
    top: 15%;
    left: 5%;
}
#page3 > .pic2 {
    height: 20%;
    width: 60%;
    position: absolute;
    top: 11%;
    left: 59%;
    background-size: cover;
}
#page3 > .pic3 {
    height: 25%;
    width: 39%;
    position: absolute;
    top: 43%;
    left: 5%;
}
#page3 > .pic4 {
    height: 35%;
    width: 65%;
    position: absolute;
    top: 42%;
    left: 61%;
}
#page3 > #right {
    position: absolute;
    top: 65%;
    left: 5%;
    height: 25%;
    width: 100%;

}

#page3 #right > h1 {
    width: 100%;
    font-size: 3vh;
}
#page3 #right > h4 {
    width: 100%;
    padding: 5px;
    font-size: 1.8vh;
    font-family: gilroy;
    font-weight: 300;
}
#page3 #right #hbtm {
    width: 31vw;
    height: 1vh;
    position: absolute;
    top: -8%;
    left: 19%;
}
#page3 #right #rbottom {
    height: 8vh;
    margin-top: 20px;
    width: 90%;
    margin-right: 5%;
    display: flex;
    justify-content: space-between;
    padding: 0px -14px;
}
#page4{
    flex-direction: column;
    gap: 10px;
}
#page4 > #left {
    height: 40vh;
    width: 95%;
}
#page4 > #right {
    height: 40vh;
    width: 95%;
}
#page4 > #left h1 {
    font-size: 3vh;
}
#page4 > #right h1 {
    font-size: 3vh;
}
#page4 #btn {
    width: 100%;
    top: 93%;
    gap: 5px;
}
#page4 #btn button {
    gap: 12px;
    height: 5vh;
    width: 34vw;
}
#page5{
    height: 50vh;
}
#page5 .swiper{
    width: 80%;
    height: 90%;
}
.swiper-slide h1{
    width: 100%;
    font-size: 3vh;
    font-weight: 300;
}
#page6{
    min-height: 85vh;
}
#page6 #text{
    width: 95%;
    top: 5%;
    font-size: 3vw;
    left: 3%;
}
#page6 #text::before {
    width: 85px;
    height: 75px;
    left: 18%;
    top: -15%;
}
#page6 #logo{
    top: 15%;
}
#page6>h6{
    font-size: 5vw;
    top: 80%;
    left: 30%;
}
#page7{
    margin-top: 5%;
    min-height: 20vh;
}
#page7 #center{
    position: relative;
    width: 100%;
    height: 30vh;
}
#page7 #center #dets h1{
    position: absolute;
    top: 10%;
    font-size: 5vw;
}
#page7 #center #dets h4{
    display: none;
}
#page7 #btn{
    display: none;
}
#page8{
    min-height: 50vh;
    
}
#page8 #center{
    flex-direction: column;
}
#page8 #center .all{
    width: 100%;
    
}
#page8 #center #a h1{
    font-size: 6vw;
}
#page8 #center #a #btn {
    width: 100%;
}
#page8 #a #btn button{
    width: 15vw;
}
#page8 #center #b{
    line-height: 1;
}
}





